<footer class="footer">
  <div class="container footer__container">
    <p class="footer__copy">&copy; 2018 «LoremIpsum.net» Все права защищены.</p>

    <div class="pay footer__pay">
      <div class="pay__item">
        <img loading="lazy" src="img/footer-qiwi.svg" class="image pay__icon" width="20" height="20"
          alt="Qiwi wallet" />
        <p class="pay__text">Qiwi wallet</p>
      </div>
      <div class="pay__item">
        <img loading="lazy" src="img/footer-yandex.svg" class="image pay__icon" width="20" height="20"
          alt="Yandex Money" />
        <p class="pay__text">Yandex Money</p>
      </div>
      <div class="pay__item">
        <img loading="lazy" src="img/footer-webmoney.svg" class="image pay__icon" width="20" height="20"
          alt="Web Money" />
        <p class="pay__text">Web Money</p>
      </div>
    </div>

    <div class="contact footer__contact">
      <a href="#" class="contact__item">
        <svg class="contact__icon">
          <use xlink:href="img/sprite.svg#footer-mail"></use>
        </svg>
        info@ipsum228.com
      </a>
      <a href="#" class="contact__item">
        <svg class="contact__icon">
          <use xlink:href="img/sprite.svg#footer-vk"></use>
        </svg>
        Мы вконтакте
      </a>
    </div>
  </div>
</footer>
