<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/logo.svg" class="logo__img" width="247" height="35" alt="Логотип LoremIpsum.Net" />
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Бизнес</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Цены</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Оформить заказ</a>
        </li>
      </ul>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
    </nav>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
