<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      <span class="hero__title-accent">Lorem ipsum</span> dolor sit amet
      consectetur <span class="hero__title-accent">adipiscing</span>
    </h1>
    <p class="hero__text">
      At vero eos et accusamus et iusto odio dignissimos ducimus!
    </p>
    <ul class="list-reset hero__list">
      <li class="hero__item">- Totam rem aperiam eaque ipsa</li>
      <li class="hero__item">
        - Sit voluptatem accusantium doloremque laudantium
      </li>
      <li class="hero__item">
        - Sed ut perspiciatis, unde omnis iste natus error
      </li>
    </ul>

    <div class="hero__links">
      <a href="#" class="hero__link btn btn_blue">Заказать</a>
      <a href="#" class="hero__link btn btn_light">Подробнее</a>
    </div>
  </div>
</section>
